.active-theme {
  --root-background: rgb(33, 34, 115);
  --heading: white;
  --para: rgb(239, 239, 239);
  --back: rgb(16, 16, 90);
  --box-shadow: rgb(45, 3, 3);
  --icon-colo: white;
  --icon-backgroundcolor: rgb(255, 255, 255);
}
.deactive-theme {
  --root-background: rgb(201, 200, 200);
  --heading: rgb(16, 16, 90);
  --para: gray;
  --back: rgb(255, 255, 255);
  --box-shadow: rgb(71, 17, 17);
  --icon-color: black;
  --icon-backgroundcolor: rgb(170, 170, 170);
}
